html {
    scroll-behavior: smooth;
}
.header #preloader {
    padding-top: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0);
    width: 100vw;
    height: 100vh;

}

/* #preloader img{
    width: 100vw;
    height: 100vh;
} */
.preloader__img {
    width: 10%;
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 1140px){
    .header #preloader {
        padding-top: 30%;
    }
    .preloader__img {
        width: 10%;
    }
}
@media (max-width: 768px){
    .header #preloader {
        padding-top: 40%;
    }
    .preloader__img {
        width: 10%;
    }
}


@media (max-width: 576px){
    .preloader__img {
        width: 10%;
    }
    .header #preloader {
        padding-top: 50%;
    }

}

@media (max-width: 480px) {
    .header #preloader {
        padding-top: 60%;
    }
    .preloader__img {
        width: 10%;
    }
}
@media(max-width: 380px){
    .header #preloader {
        padding-top: 70%;
    }

}
