html {
    scroll-behavior: smooth;
}
.header #preloader {
    padding-top: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0);
    width: 100vw;
    height: 100vh;

}

/* #preloader img{
    width: 100vw;
    height: 100vh;
} */
.preloader__text {
    font-size: 36px;
    color: white;
}

#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 768px){
    .header #preloader {
        padding-top: 50%;
        text-align: center;
        background-color: rgba(0, 0, 0);
        width: 100vw;
        height: 100vh;
    
    }
}

@media (max-width: 576px){

}

@media (max-width: 480px) {

}
@media(max-width: 380px){

}
@media (max-width: 320px){}